# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Debug files
*.dSYM/

# Executables
*.exe
*.out
*.app

# IDE
.vscode/

# MacOS
.DS_Store